@import "../../styles/main.scss";

.statusPage{
    margin: 3rem 18rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    width:60vw;
    padding: 1rem;
    border-radius: 12px;
    background-color: $backgroundcolor;
    @include mobile{
        margin:3rem;
        height: 70vh;
        width: 80%;
    }

    .status{
        color: $main-color;
        text-align: center;
    }
    .register{
        color: $main-color;
        text-align: center;
        margin: 1rem;
        padding: 6px;
        background-color: $main-background-color;
        border: 2px solid $main-color;
        border-radius: 6px;
    }

    .content{
        margin: 3rem;
        box-shadow: 0 5px 15px rgba(0,0,0,0.2);
        padding: 1rem;
        border-radius: 12px;
        @include mobile{
            margin: 1rem ;
            }

        h4{
            text-align: center;
            padding: 12px;
            border-bottom: 2px solid gray;

        }
        p{
            margin: 1rem;
            color: gray;
            font-size: large;
            font-weight: 600;
        }

        span{
            padding: 6px;
            border-radius: 6px;
            width: 30vw;
            height: 6vh;
            color: $successcolor;
            background-color: $successbackgroundcolor;
            border: 2px solid $successcolor;
            font-weight: 600;
        }
    }
}
