.tweet-box {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid $color-border;

  .tweet-user img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  .tweet-input-area {
    margin-left: 10px;

    .post-input {
      width: 100%;
      font-size: 20px;
      padding: 10px 0;
      min-height: 50px;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid $color-border;
      padding-top: 10px;

      .left-buttons img {
        width: 20px;
        margin-right: 15px;
        cursor: pointer;
      }

      .tweet-btn {
        background-color: $color-blue;
        opacity: 0.5;
        color: white;
        padding: 8px 15px;
        border-radius: 9999px;
        font-weight: bold;
      }
    }
  }
}
