button{
    padding: 12px;
    background-color: white;
    border: 2px solid $border-color ;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;

    &.active{
                border: 2px solid $main-color;
                color: $main-color;
         }


    @include mobile{
        width: 100%;
    }
}

