.success{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    h2{
        background-color: rgb(55, 172, 55);
        padding: 6px;
        margin: 1rem;
        color: white;
        border-radius: 4px;
        text-align: center;
    }
    .summary{
        margin-bottom: 1rem;
    }

    
}