@media (max-width: $mobile-width) { 
    body{
        display: flex;
        flex-direction: column;
    }

   #tweet{
       display: block;
    }
    .navigation-section {
        position: fixed;
        left: -100%; 
        top: 0;
        background-color: $color-black;
        width: 80%; 
        height: 100vh;
        transition: left 0.3s ease;
        border-right: 1px solid $color-border;

        &.active {
            left: 0; 
        }
         .profile-bottom{
      display: none;
    }
     .profile-top {
    margin-top: auto;
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 9999px;

    &:hover {
      background-color: rgba($color-white, 0.1);
    }


    .profile-photo img {
      width: 40px;
      border-radius: 50%;
    }

    .profile-name {
      margin: 0 10px;
      flex-grow: 1;

      .name {
        font-weight: bold;
        font-size: 15px;
      }

      .username {
        color: $color-text-gray;
        font-weight: normal;
        font-size: 15px;
      }
    }
  }
        .nav-links li span { 
            display: inline; 
        } 
        .nav-post-btn {
            display: none; 
        } 
    }

    .mobile-header {
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        border-bottom: 1px solid $color-border;
        position: sticky;
        top: 0;
        background: black;

        .profile-icon img {
             width: 32px;
              border-radius: 50%;
            }
        .mobile-logo img {
             width: 25px; 
        }
    }

    .main-content {
        width: 100%;
        border: none;
    }

    .floating-tweet-box-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 80px;
        right: 20px;
        background-color: $color-blue;
        width: 56px;
        height: 56px;
        border-radius: 50%;

        
        img {
             width: 24px;
         }
    }

    .tweet-box {
        display: none; 
        &.mobile-active {
            display: flex;
            flex-direction: column;
            position: fixed;
            width: 100%;
            height: 100%;
            background: black;
            padding: 20px;
        }
    }

    .overlay {
        &.active {
            display: block;
            position: fixed;
            height: 100%;
            background: rgba(255, 255, 255, 0.1);
            width: 100%;
        }
    }
}
