h1{
   text-align: center;
   margin-top:2rem ;

}
.users{
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    margin: 2rem;
    border-radius: 12px;

    h2{
      padding: 1rem;
    }
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  padding: 16px;
  margin: 1rem 2rem;

}

