@mixin flex-justify-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button-color($color, $background-color){
    color:$color;
    border: 1px solid $color;
    background-color: $background-color;
    padding: 8px;
    font-weight: bold;
    border-radius: 8px;
}

@mixin border-color-lines($line, $color){
    border: 1px $line $color;
    border-radius: 8px;
}