.cartContainer{
    display: flex;
    gap: 10px;
    margin: 2rem;
    button{
        padding: 6px;
        background-color: rgb(214, 144, 144);
        border: none;
        border-radius: 4px;
    }

    .items{
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        .cartitem{
            display: flex;
            gap: 20px;
            background-color: rgb(231, 227, 220);
            border-radius: 12px;
            justify-content: flex-start;
            align-items: center;
            img{
                height: 100px;
            }
        }
    }

    .summary{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        width:20%;
        box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    }

    .detials{
        p{
            color: green;
        }
    }
}

.cartEmpty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}