.details{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    padding: 1rem;
    border-radius: 12px;

    img{
        width: 50px;
        height: 50px;
    }

    .email, .phone, .age{
        font-size: small;
        color: grey;
    }
}