.navbar {
  margin: 0;
  display: flex;
  justify-content: space-around;
  background-color: rgb(61, 61, 172);
  padding: 16px;
  a {
    color: #fff;
    text-decoration: none;
    &.active {
      font-weight: bold;
    }
  }
  .name{
    color:white ;
    font-weight: bold;
  }
}
