.userPage{
    margin: 2rem;

    button{
        background-color: rgb(104, 104, 202);
        border-radius: 4px;
        padding: 8px;
        color: white;
        font-weight: 600;
    }

    .user{
        display: flex;
        flex-direction: column;
        box-shadow: 0 5px 15px rgba(0,0,0,0.2);
        margin-left: 12rem;
        padding: 1rem;
        border-radius: 12px;
        background-color: white;
        width: 50%;
    }

    .userInfo{
        display: flex;
        padding: 10px;
        gap: 10px;
        border-radius: 12px;
        border-bottom: 2px solid grey;

        img{
            width: 80px;
            height: 80px;
            border-radius: 9999px;
        }

        .info{
            margin-top: 1rem;
        }

        .id{
            color: grey;
            font-size: small;
        }
    }

    .userPersonal{
        display: flex;
        gap: 20px;
        margin: 1rem;
        padding: 10px;

        .contactInfo{
            display: flex;
            flex-direction: column;
            gap:5px;
            background-color: rgb(236, 227, 227);
            padding: 10px;
            border-radius: 12px;
        }

        .email{
            border-bottom: 1px solid grey;
        }

        .personalInfo{
            display: flex;
            flex-direction: column;
            gap:5px;
            background-color: rgb(236, 227, 227);
            padding: 10px;
            border-radius: 12px;
        }
    }

}