$primary:#2563eb;
$secondary:#7c3aed;
$accent:#f59e0b;
$text-dark:#1f2937;
$text-light: #6b7280;
$background:#ffffff;
$background2:#f9fafb;
$fontsize:16px;

body{
    background-color: $background;
    font-size: $fontsize;

}

nav{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    border-bottom: 2px solid $text-light;
}


.main{
    font-weight: bold;
    font-size:medium;

}

span{
    color: $primary;
    margin-right: 10rem;
}

.learn{
    display: flex;
    margin-top: 2rem;
    justify-content: space-around;
}

.learn-image {
  width: 200px;
}
.learn-image img {
  width: 200%;
  height: auto;
  border: 0.5px solid white;
  box-shadow:$text-light;
  border-radius: 6px;
}

p{
    color: $text-light;
}

.get-started, .send-message{
    background-color: $primary;
    border: none;
    color: $background;
    padding: 15px, 32px;
    text-align: center;
    font-size: $fontsize;
    border-radius: 5px;
    height: 40px;
}

.learn-more{
    background-color: $background;
    color: $primary;
    padding: 15px, 32px;
    text-align: center;
    font-size: $fontsize;
    border: 0.5px solid $primary;
    border-radius: 5px;
    height: 40px;
}

.why-choose{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.main-heading{
    text-align: center;
}


.benefits{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}


.cards{
    width: 20%;
    border: 1px solid $text-light;
    padding: 15px;
    border-radius: 10px;
    background: $background;
}



.cards img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 6px;
}


.courses{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.course-heading{
    text-align: center;
}


.courses-available{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}


.course-card{
    width: 20%;
    border: 1px solid $text-light;
    padding: 15px;
    border-radius: 10px;
    background: $background;
}



.course-card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 6px;
}

.course-card .footer{
    display: flex;
    padding-top: 2rem;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;

    .price{
        font-weight: bold;
        font-size: large;
    }

    .enroll{
        color: $primary;
    }
}

.enrollment{
    margin-top: 2rem;
    background-color: $primary;
    padding: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.enrollment .number{
    font-weight: bold;
    font-size: x-large;
    color: $background;
}

.enrollment p{
    color: $background;
}

.contact{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.details{
    display: flex;
    gap: 10px;
}

.form{
    display: flex;
    gap: 10px;
}

.f{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

footer{
    display: flex;
    flex-direction: column;
    gap: 2px;
    background-color: rgb(18, 18, 56);
    color: $background;
    margin-top: 2rem;
    height: 70px;
    align-items: center;
    justify-content: center;
}




