$color-black: #000000;
$color-white: #ffffff;
$color-blue: #1d9bf0;
$color-border: #2f3336;
$color-text-gray: #71767b;
$color-red-like: #df1f79ff;
$color-blue-retweet: #435db5ff;

$font-main: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;

$desktop-width: 1079px;
$mobile-width: 414px;
$nav-width: 275px;
$feed-width: 600px;
