.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  padding: 16px;
}

.heading{
    text-align: center;
}

.noProducts{
   color: red;
    text-align: center;
    margin-top: 20vh;
    font-size: x-large;
    font-weight: bold;
}

